/* ===========
   基本默认值
   ===========*/

html{
    font-size: 62.5%;
    color:#222;
}
::selection{
    background-color: #b3d4fc;
    text-shadow: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* ==========
   工具样式
   ========== */
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* ==========
   浏览器更新提示样式
   ========== */
.browseupgrade{
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/* ==========
   自定义页面样式
   ========== */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

/*网站头部*/
header {
    width: 100%;
}
header .top{
    line-height: 3rem;
    padding: 0 0 0 1.5rem;
    background:#555;
    color:#fff;
    border-bottom: 1px #ecc000 solid;
}
header .top .tel{
    float: left;
}
header .top ul{
    text-align: right;
}
header .top ul li{
    display: inline-block;
}
header .top ul li + li{
    border-left: 1px solid #999;
    margin-left: -3px;
    /*是为了去除因li标签换行产生的空白符，有缺点：各个浏览器不一定兼容，不一定是3px，
    还有li标签不闭合的方法；
    还有在li的父元素ul定义font-size：0，然后再li定义font-size:12px,缺点是会产生下边距*/
}
header .top ul li a{
    display: inline-block;/*a标签是行内元素，这是为了padding起作用*/
    padding: 0 1rem;
    color: #fff;
}

header .main{
    padding:0;
    line-height: 5.5rem;
}
header .main .brand{
    float: left;
    padding: 1rem 0 0 0;
}
header .main ul{
    text-align: right;
}
header .main ul li{
    display: inline-block;
}
header .main ul li + li {
    border-left: 1px solid #f0ede9;
}
header .main ul li a{
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 5.5rem;
    color: #7c7a65;
    text-decoration: none;
}
header .main ul li a:hover,
header .main ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}



    /*****************
    * 主要内容
    ****************/
.container{
    width: 100%;
}

.transaction{
    width: 100%;
    background-color: #7C7365;
}

.trans-content{
    max-width: 90%;
    height: 4rem;
    font-size: 1.4rem;
    margin: 0 auto;
}
.trans-data{
    float: left;
    margin-left: 1rem;
}

.trans-data span{
    display: inline-block;
    line-height: 4rem;
    color: #fff;
}
.trans-data .trans-mony{
    border-radius: .3rem;
    background-color: #F2F1F0;
    color: #FBA400;
    letter-spacing: 3px;
    box-shadow: 1px 2px 1px #333 inset;
    font-size: 2rem;
    line-height: 2.5rem;

}
.trans-report{

    text-align: right;

}

.trans-report a{
    display: inline-block;
    padding: 1rem;
    color: #fff;

}
/*广告*/



/*feature*/
.feature{
    width: 90%;
    margin: 2rem auto;
    font-size: 0;
}
.feature .item{
    display: inline-block;
    width: calc(33.333333333333% - 1rem - 4px); /*需要减掉item之间的margin-left总和（1.5rem*2)、3个item的左右border宽度和（2px*2*3），*/
    border: solid 2px #E6E6E6;
    border-radius: 2px;
    font-size: 16px;


}
.feature .item + .item{
    margin-left: 1.5rem;
}
.feature .item h3{
    float: left;
    color: #FF9900;
    margin: 2rem 2rem;
    font-size: 2rem;
}
.feature .item ul{
    display: inline-block;
    margin: 1rem;
}

.feature .item ul li{
    color: #999999;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-left: 4rem;
}
/*notice*/
.notice{
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.notice a:nth-child(1){
    color: #AAAAAA;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice a:nth-child(1):before{
    content: '最新公告';
}
.notice span{
    line-height: 3rem;
    padding: 1rem;
    color: #AAAAAA;
}
.notice .more{
    float: right;
    line-height: 3rem;
    margin-right: 1rem ;
    color: #F90;
}
/*product*/
.product{
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #FF7F27;
    box-shadow: 0 0 4px #ccc;
}
.product h2{
    float: left;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    width: 30%;
    color: #635c51;
    padding: 5rem ;
    font-weight: normal;

}
.product h2 em{
    display: block;
    text-align: center;
    font-size: 1.4rem;

}
.product .product-content{
    float:right;
    width: 60%;
    border-left: 1px solid #eee;
    background-color: #f5f9fa;
}
.product .product-content .item{
    width: 100%;
}
.product .product-content .item + .item{
    border:1px solid #eee;
}
.product .product-content .item h3{
    float: left;
    width: 30%;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}
.product .product-content .item h3 em{
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #999;

}
.product .product-content .item h3  i{
    display: block;
    font-style: normal;
    color: #999;
    font-size: 1.2rem;
}
.product .product-content .item .info{
    float: left;
    width: 50%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 1.4rem;
    padding: 1rem;
}
.product .product-content .item .info p{
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;
}
.product .product-content .item .info p:last-child{
    width: 40%;
}
.product .product-content .item .info p span{

    display:block;
    font-size: 2.4rem;
    color: #ff9900;
}
.product .product-content .item .info p i{
    float: right;
    font-size: 1.2rem;
    margin-top: -2rem;
    margin-left: -200rem;

}
.product .product-content .item .buy{
    float: left;
    padding: 1rem;
    width:5% ;
}
.product .product-content .item .buy a{
    display: block;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;

}
.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active{
    background-color: #ffc468;
}
.product .product-content .item .buy a:disabled{
    background-color: #ccc !important;
}
/*底部导航*/
.footer{
    background-color: #E6E6E6;
    border-top: 2px solid #eee;
    padding: 3rem 0;
}
.footer-content{
    width: 90%;
    margin: 0 auto;
}
.footer-content .brand{
    background: url("../img/logo@1x.png")no-repeat;
    display: block;
    float: left;

    width: 20%;
    height: 35px;
}
.footer-content ul{
    float: left;
    width: 15%;
}
.footer-content ul li{
    line-height: 2.4rem;
    font-size: 1.4rem;
}
.footer-content ul li .title{
    font-size: 2.0rem;
}
/*底部*/
footer {
    width: 100%;
    background-color: #ededed;
    padding: 3rem 0 5rem;
}
footer ul{
    text-align: center;
}

footer ul li{
    display: inline-block;
}
footer ul li .icon{
    display: inline-block;
    text-indent: -999rem;/*通过文字的缩进隐藏文字*/
    margin-right: 1.5rem;
    background: url("../img/cert1.png")no-repeat;
    background-size: 466px 447px;
    overflow: hidden;

}
footer ul li .iocn-zfywxk{
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}
footer ul li .iocn-pcirz{
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}
footer ul li .iocn-visayz{
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .iocn-vsjmfw{
    width: 63px;
    height: 27px;
    background-position: -401px -186px;
}

footer ul li .iocn-wlgs{
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .iocn-rzcx{
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}
footer ul li .iocn-bjgs{
    width: 30px;
    height: 30px;
    margin-right: 0;
    background-size: 30px;
    background-image: url('../img/cert2.png');
}

footer p{
    text-align: center;
    color: #666;
    font-size: 1.2rem;
    margin: 2rem auto;
}


















































































